#img-index{
    padding: 20px;
    
}
main{
    min-height:100vh;
    background-image: url(../img/Fondo2.jpg)
}

#gallery{
    padding: 20px;
}
#footer{
    position: bottom;
}


#contactp{
    padding: 20px;
}


body{
    min-height: 100vh;
    position: relative;
    padding-bottom:5em;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

